<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Welcome to Cats</title>
	<meta name="description" content="Lots and lots of cats.">

	<link rel="stylesheet" href="app/assets/stylesheets/application.css">
	<script src="app/assets/javascripts/vendor/modernizr-2.6.2.min.js"></script>
	<style type="text/css">
	h1 {
		height: 100%;
		/* The html and body elements cannot have any padding or margin. */
		margin: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
		margin-bottom: 3px;
	}
	.entry-header {
		text-align: middle;
		margin: 0 auto 0px auto;
		width: 95%;
				max-width: 978px;
		position: relative;
		z-index: 10001;
	}
	#demo-content {
		padding-top: 15px;
	}
	</style>
</head>
<body class="demo">

	<!-- Demo content -->
	<div id="demo-content">

		<header class="entry-header">
			<h1 class="entry-title">Welcome to Cats.</h1>
		</header>

		<div id="loader-wrapper">
			<div id="loader"></div>

			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
		</div>

		<div id="content">
			<ul>
			  <% @cats.each do |cat| %>
			    <li><%= link_to cat.name, cat_url(cat) %></li>
			  <% end %>
			</ul>

			<%= link_to "Create cat", new_cat_url %>

		</div>
		<img src="http://66.media.tumblr.com/777597e4c5463d8631cb86c2a9fd583a/tumblr_muttcwX7Tc1sjre2oo1_400.gif" alt="" />


	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="app/assets/javascripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="app/assets/javascripts/main.js"></script>

</body>
</html>
