<h1>Sign Up!</h1>

<body>
  <form action=" <%= users_url %>" method="post">

    <label>Username
      <input type="text" name="user[username]">
    </label>
    <br>
    <label>Password
      <input type="password" name="user[password]">
    </label>

    <br>
    <%= button_to 'Take me to the cats!', users_url %>
  </form>
</body>

<% content_for :footer do %>
  <p>
    Here is where new users sign up!
  </p>
<% end %>
