<img src="http://www.glitterbucket.com/wp-content/uploads/2015/10/Welcome-Glitter-Cat-Graphic.gif" alt="" />

<body>
  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <br>
    <label>Username<input type="text" name="user[password]"></label>
    <br>
    <label>Password
      <input type="password" name="user[password]">
    </label>
    <br>
    <input type="submit" name="Log In">
    <br>
  </form>
  New User?
  <br>
  <%= button_to 'Sign Up', new_user_url , method: :get %>
</body>

<% content_for :footer do %>
  <p>
    Sign in page
  </p>
<% end %>
